beautifulsoup4==4.11.1
bs4==0.0.1
cssselect2==0.7.0
geomdl==5.2.9
lxml==4.4.2
networkx==2.6.3
numpy==1.18.1
Pillow==9.2.0
pyparsing==3.0.9
reportlab==3.6.11
Shapely==1.6.4.post2
soupsieve==2.3.2.post1
svglib==1.0.0
svgwrite==1.3.1
tinycss2==1.1.1
Wand==0.5.8
webencodings==0.5.1
